<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="manifest" href="/static/manifest.<%= htmlWebpackPlugin.options.appVersion %>.json">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>mind-xx-acpr</title>
  <access origin="https://*.googleapis.com" />
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
